<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>

  <header class="site-header no-select">
    <a href="/" id="header-icon" aria-label="{{ site.Title }}">
      {{ partial "header-icon.html" . }}
    </a>

    <div class="header-menu">
      {{ partial "header-menu.html" . }}
    </div>

    <div class="header-control">
      {{ partial "header-control.html" . }}
    </div>
  </header>

  <main class="main">
    {{ block "main" . }}
    {{ end }}
  </main>

  <footer class="footer">
    {{ partial "footer.html" . }}
  </footer>

</body>

</html>
