{{ define "main" }}

<section id="home-container" class="no-select">
  <div id="home-container-content">
    {{ .Content }}
  </div>

  <div id="home-container-list">
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range ($pages.GroupByDate "2006") }}
      <section class="year-posts" aria-labelledby="year-{{ .Key }}">
        <h2 id="year-{{ .Key }}" class="year-title">{{ .Key }}</h2>
        {{ range .Pages.ByDate.Reverse }}
          <article class="post-link">
            <a href="{{ .RelPermalink }}">
              <span class="post-title">{{ .LinkTitle }}</span>
              {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
              {{ $dateHuman := .Date | time.Format "Jan 02" }}
              <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            </a>
          </article>
        {{ end }}
      </section>
    {{ end }}
  </div>
</section>
{{ end }}
