{{ define "main" }}

  <div class="grid-container single-container">

    <div class="single-title-container outline">

      <div class="single-title-container-title center-align">
        <h1 class="char-limit">{{ .Title }}</h1>
      </div>      

      <div class="single-title-container-date">
        <span class="date">
          {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := .Date | time.Format ":date_long" }}
          <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </span>
      </div>

      <div class="single-title-container-author">
        <span class="author">
          {{ if .Page.Params.author }}
            {{ .Page.Params.author }}
          {{ end }}
        </span>
      </div>
    </div>

    <div class="single-content outline">
      {{ .Content }}
    </div>

    <div class="single-tags">
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </div>
{{ end }}
