{{ define "main" }}

<section id="tags-container" class="no-select">
  <header id="tags-container-title">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </header>

  <div id="tags-container-list">
    {{ range .Data.Terms.Alphabetical }}
      <section class="term-group">
        <h2><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }} <span>{{ .Count }}</span></a></h2>
        <ul>
          {{ range .WeightedPages }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      </section>
    {{ end }}
  </div>
</section>
{{ end }}