/* Global Settings */
:root {
  --text-color: #000;
  --background-color: #f5f5f5;
  --link-color: #0066cc;
  --outline-color: #314158;
  --text-caption-color: #9da1ab;
  font-size: large;
}

:root[data-theme="dark"] {
  --text-color: #dadadb;
  --background-color: #000e14;
  --link-color: #FF9933;
  --outline-color: #035677;
  --text-caption-color: #625EF4;
}

body {
  color: var(--text-color);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  /* font-family: ui-sans-serif,system-ui,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji; */
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.no-a-color {
  color: var(--text-color);
}

a:hover {
  outline: 2px dashed var(--outline-color);
}

.grid-container {
  display: grid;
  gap: 1px 1px;
}

img, video {
  width: 100%;
}

figure {
  margin: 0;
}

table.md-table {
  margin: auto;
  
  >caption {
    margin: 0 0 5px 0;
  }

  >thead>tr>th {
    border-top: 2px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    border-left: 0;
    border-right: 0;
  }

  >tbody>tr:last-child>td {
    border-bottom: 2px solid var(--text-color);
  }

  >thead>tr>th {
    padding: 6px 20px;
    text-align: center;
  }

  >tbody>tr>td {
    padding: 6px 20px;
    text-align: center;
  }
}

div.md-codeblock {
  font-family: 'Courier New', Courier, monospace;
  line-height: normal;
  font-size: medium;
  background-color: color-mix(in srgb, var(--background-color) 95%, var(--outline-color)) ;

  .highlight {
    padding: 0.5rem;
  }

  pre {
    margin: 0;
  }
}

.chroma {
  .err { color:#a61717;background-color:#e3d2d2 }
  .lnlinks { outline:none;text-decoration:none;color:inherit }
  .lntd { vertical-align:top;padding:0;margin:0;border:0; }
  .lntable { border-spacing:0;padding:0;margin:0;border:0; }
  .hl { background-color:#e5e5e5 }
  .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
  .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
  .line { display:flex; }
  .k { color:#000;font-weight:bold }
  .kc { color:#000;font-weight:bold }
  .kd { color:#000;font-weight:bold }
  .kn { color:#000;font-weight:bold }
  .kp { color:#000;font-weight:bold }
  .kr { color:#000;font-weight:bold }
  .kt { color:#458;font-weight:bold }
  .na { color:#008080 }
  .nb { color:#0086b3 }
  .bp { color:#999 }
  .nc { color:#458;font-weight:bold }
  .no { color:#008080 }
  .nd { color:#3c5d5d;font-weight:bold }
  .ni { color:#800080 }
  .ne { color:#900;font-weight:bold }
  .nf { color:#900;font-weight:bold }
  .nl { color:#900;font-weight:bold }
  .nn { color:#555 }
  .nt { color:#000080 }
  .nv { color:#008080 }
  .vc { color:#008080 }
  .vg { color:#008080 }
  .vi { color:#008080 }
  .s { color:#d14 }
  .sa { color:#d14 }
  .sb { color:#d14 }
  .sc { color:#d14 }
  .dl { color:#d14 }
  .sd { color:#d14 }
  .s2 { color:#d14 }
  .se { color:#d14 }
  .sh { color:#d14 }
  .si { color:#d14 }
  .sx { color:#d14 }
  .sr { color:#009926 }
  .s1 { color:#d14 }
  .ss { color:#990073 }
  .m { color:#099 }
  .mb { color:#099 }
  .mf { color:#099 }
  .mh { color:#099 }
  .mi { color:#099 }
  .il { color:#099 }
  .mo { color:#099 }
  .o { color:#000;font-weight:bold }
  .ow { color:#000;font-weight:bold }
  .c { color:#998;font-style:italic }
  .ch { color:#998;font-style:italic }
  .cm { color:#998;font-style:italic }
  .c1 { color:#998;font-style:italic }
  .cs { color:#999;font-weight:bold;font-style:italic }
  .cp { color:#999;font-weight:bold;font-style:italic }
  .cpf { color:#999;font-weight:bold;font-style:italic }
  .gd { color:#000;background-color:#fdd }
  .ge { color:#000;font-style:italic }
  .gr { color:#a00 }
  .gh { color:#999 }
  .gi { color:#000;background-color:#dfd }
  .go { color:#888 }
  .gp { color:#555 }
  .gs { font-weight:bold }
  .gu { color:#aaa }
  .gt { color:#a00 }
  .gl { text-decoration:underline }
  .w { color:#bbb }
}

:root[data-theme="dark"] {
.bg { color:#e6edf3 }
.chroma { 
  color: #e6edf3;
  .err { color:#f85149 }
  .lnlinks { outline:none;text-decoration:none;color:inherit }
  .lntd { vertical-align:top;padding:0;margin:0;border:0; }
  .lntable { border-spacing:0;padding:0;margin:0;border:0; }
  .hl { background-color:#6e7681 }
  .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#737679 }
  .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#6e7681 }
  .line { display:flex; }
  .k { color:#ff7b72 }
  .kc { color:#79c0ff }
  .kd { color:#ff7b72 }
  .kn { color:#ff7b72 }
  .kp { color:#79c0ff }
  .kr { color:#ff7b72 }
  .kt { color:#ff7b72 }
  .nc { color:#f0883e;font-weight:bold }
  .no { color:#79c0ff;font-weight:bold }
  .nd { color:#d2a8ff;font-weight:bold }
  .ni { color:#ffa657 }
  .ne { color:#f0883e;font-weight:bold }
  .nf { color:#d2a8ff;font-weight:bold }
  .nl { color:#79c0ff;font-weight:bold }
  .nn { color:#ff7b72 }
  .py { color:#79c0ff }
  .nt { color:#7ee787 }
  .nv { color:#79c0ff }
  .l { color:#a5d6ff }
  .ld { color:#79c0ff }
  .s { color:#a5d6ff }
  .sa { color:#79c0ff }
  .sb { color:#a5d6ff }
  .sc { color:#a5d6ff }
  .dl { color:#79c0ff }
  .sd { color:#a5d6ff }
  .s2 { color:#a5d6ff }
  .se { color:#79c0ff }
  .sh { color:#79c0ff }
  .si { color:#a5d6ff }
  .sx { color:#a5d6ff }
  .sr { color:#79c0ff }
  .s1 { color:#a5d6ff }
  .ss { color:#a5d6ff }
  .m { color:#a5d6ff }
  .mb { color:#a5d6ff }
  .mf { color:#a5d6ff }
  .mh { color:#a5d6ff }
  .mi { color:#a5d6ff }
  .il { color:#a5d6ff }
  .mo { color:#a5d6ff }
  .o { color:#ff7b72;font-weight:bold }
  .ow { color:#ff7b72;font-weight:bold }
  .c { color:#8b949e;font-style:italic }
  .ch { color:#8b949e;font-style:italic }
  .cm { color:#8b949e;font-style:italic }
  .c1 { color:#8b949e;font-style:italic }
  .cs { color:#8b949e;font-weight:bold;font-style:italic }
  .cp { color:#8b949e;font-weight:bold;font-style:italic }
  .cpf { color:#8b949e;font-weight:bold;font-style:italic }
  .gd { color:#ffa198;background-color:#490202 }
  .ge { font-style:italic }
  .gr { color:#ffa198 }
  .gh { color:#79c0ff;font-weight:bold }
  .gi { color:#56d364;background-color:#0f5323 }
  .go { color:#8b949e }
  .gp { color:#8b949e }
  .gs { font-weight:bold }
  .gu { color:#79c0ff }
  .gt { color:#ff7b72 }
  .gl { text-decoration:underline }
  .w { color:#6e7681 }
}
}

/* Page Settings */
#main-container {
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-template-areas:
    "header-icon header-menu header-control"
    "left-main   main        right-main"
    "left-footer footer      right-footer";
  min-height: 100vh;
}

#header-icon {
  grid-area: header-icon;
  margin: 0;
}

#home-link-overlay {
  grid-area: header-icon;
  z-index: 1;
}

.header-menu {
  grid-area: header-menu;
}

#menu-list {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  justify-content: end;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.menu-list-li {
  height: 100%;
}

.header-control {
  grid-area: header-control;

  display: grid;
  place-items: center;
  grid-auto-flow: column;
  justify-content: left;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 10px;
}

#theme-toggle {
  height: 100%;
  color: var(--text-color);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#theme-toggle:hover {
  outline: 2px dashed var(--outline-color);
}

.main {
  grid-area: main;
}

.right-main {
  grid-area: right-main;
}

.left-footer {
  grid-area: left-footer;
}

.right-footer {
  grid-area: right-footer;
}

.footer {
  grid-area: footer;
  margin: 0;
}

@media (max-width: 768px) {
  #main-container {
    grid-template-areas:
      "header-icon"
      "header-menu"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  }

  .header-menu {
    justify-content: center;
  }

  /* .header-menu, */
  .header-control,
  .left-main,
  .left-footer,
  .right-main,
  .right-footer {
    display: none;
  }
}

/* Single Page Settings */
/* single.html */
div.single-container {
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "single-title-container"
    "single-content"
    "single-tags";
  min-height: 100%;
}

div.single-title-container {
  grid-area: single-title-container;
  padding: 1rem;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "single-title-container-title single-title-container-title single-title-container-title single-title-container-title"
    ". . single-title-container-date single-title-container-author";
}

div.single-title-container-title {
  grid-area: single-title-container-title;
  text-align: center;
}

div.single-title-container-date {
  grid-area: single-title-container-date;
  text-align: center;
}

div.single-title-container-author {
  grid-area: single-title-container-author;
  text-align: center;
}

div.single-content {
  grid-area: single-content;
  padding: 2rem;
}

div.single-tags {
  padding: 1rem;
}

@media (max-width: 768px) {
  div.single-title-container {
    grid-template-areas:
      "single-title-container-title"
      "single-title-container-author"
      "single-title-container-date";
    grid-template-columns: 1fr;
  }
}

/* Home Page Settings */
/* home.html */
div#home-container {
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "home-container-content"
    "home-container-list";
  min-height: 100%;
}

div#home-container-content {
  grid-area: home-container-content;
  padding: 1rem;
}

div#home-container-list {
  grid-area: home-container-list;
  padding: 1rem;
}

.year-title {
  line-height: 4rem;
  color: var(--outline-color);
}

div.date-title-li {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.5fr 0 auto;
}

div.date-title-li-date {
  color: var(--outline-color);
  display: grid;
  justify-content: center;
  margin-left: 1rem;
}

div.date-title-li-title {
  min-width: 90%;
}

@media (max-width: 768px) {
  div.date-title-li-date {
    display: grid;
    justify-content: start;
  }

  div.date-title-li-title {
    min-width: 90%;
  }
}

/* List Page Settings */
/* list.html */
div#list-container {
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "list-container-title"
    "list-container-list";
  min-height: 100%;
}

div#list-container-title {
  grid-area: list-container-title;
  padding: 1rem;
}

div#list-container-list {
  grid-area: list-container-list;
  padding: 1rem;
}

/* Tags Page Settings */
/* taxonomy.html */
div#tags-container {
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "tags-container-title"
  "tags-container-list";
  min-height: 100%;
}

div#tags-container-title {
  grid-area: tags-container-title;
  padding: 1rem;
}

div#tags-container-list {
  grid-area: tags-container-list;
  padding: 1rem;
}

/* Tag Page Settings */
/* term.html */
div#tag-container {
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "tag-container-title"
  "tag-container-list";
  min-height: 100%;
}

div#tag-container-title {
  grid-area: tag-container-title;
  padding: 1rem;
}

div#tag-container-list {
  grid-area: tag-container-list;
  padding: 1rem;
}

/* Class Settings */
.outline {
  outline: 1px solid var(--outline-color);
}

.right-align {
  text-align: right;
}

.center-align {
  /* text-align: center; */
  display: grid;
  place-items: center;
}

.no-select {
  user-select: none;
}

.char-limit {
  width: 30vw;
  overflow-wrap: anywhere;
}

.caption-text {
  color: var(--text-caption-color);
  font-size: smaller;
}

@media (max-width: 768px) {
.char-limit {
    width: auto;
    overflow-wrap: anywhere;
  }
}
