{{ if or .Params.math .Site.Params.math }}
{{ $js := resources.Get "katex/katex.min.js" }}
<script src="{{ $js.RelPermalink }}" defer></script>
{{ $js := resources.Get "katex/contrib/auto-render.min.js" }}
<script src="{{ $js.RelPermalink }}" onload="renderMathInElement(document.body);" defer></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false},
                {left: "\\(", right: "\\)", display: false},
                {left: "\\[", right: "\\]", display: true}
            ]
        });
    });
</script>

{{ $css := resources.Get "katex/katex.min.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}